.search__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search__input{
  border-radius: 5px;
  border: 1px solid black;
  width: 50%;
  padding: 2px 4px;
}

.search__table-container{
  max-height: 600px;
  margin: 0 auto;
}

.table{
  border-collapse: collapse;
  border: 2px solid black;
  margin-bottom: 10px;
}

.table th,
.table td {
  border: 1px solid black;
  padding: 5px 10px;
  height: 28px;
  text-align: left;
}

.table__head-cell:nth-child(1){
  width: 250px;
}
.table__head-cell:nth-child(2){
  width: 570px;
}
.table__head-cell:nth-child(3){
  width: 150px;
}
