.btn {
  padding: 2px 5px;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  transition-duration: 0.1s;
  box-shadow: var(--btn-box-shadow);
  background-color: #fcfcfc
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn-plus{
  width: 20px;
  height: 20px;
  padding: 0;
}

.btn:active {
  background-color: var(--active-color);
  color: var(--dark-color);
  transform: translate(1px, 1px);
  box-shadow: var(--black-color) 0 0 0;
}

.list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 0.1px;
}

.modal__close-btn{
  padding: 2px 4px;
  font-size: 10px;
}
