.main {
  background-color: var(--light-color);
  display: grid;
  grid-template-areas: "header header" "aside main";
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

.main__header {
  grid-area: header;
}

.main__aside {
  grid-area: aside;
}

.main__table {
  grid-area: main;
}

.main__aside,
.main__table {
  min-height: 100%;
}

.main__aside,
.main__table,
.main__header {
  outline: 1px solid var(--black-color);
}
