<main class="main">
  <app-header-component class="main__header" [(instructions)]="instructions" [user]="user()"></app-header-component>
  <app-aside-component class="main__aside"
                       [(instructions)]="instructions"
                       [(isUnitSelected)]="isUnitSelected"
  ></app-aside-component>
  <app-table-component class="main__table"
                       [instructions]="instructions"
                       (sortByNumberClick)="sortInstructionsByNumber()"
                       (sortByTitleClick)="sortInstructionsByTitle()"
                       (sortByDateClick)="sortInstructionsByDate()"
                       (sortByDevClick)="sortInstructionsByDeveloper()"
                       [user]="user()"
                       [(isUnitSelected)]="isUnitSelected"></app-table-component>
</main>
