.modal_title{
  text-align: center;
  margin-bottom: 20px;
}

.table{
  border: 2px solid black;
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 100%;
}

th, td{
  padding: 5px 10px;
  border: 1px solid black;
}

th:nth-of-type(1),td:nth-of-type(1){
  min-width: 200px;
}

th:nth-of-type(2), td:nth-of-type(2){
  max-width: 50px;
  overflow: hidden;
}

td:nth-of-type(2){
  text-align: center;
  max-width: 40px;
}

td:nth-of-type(3){
  width: 100px;
}


