.modal_title{
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--hover-color);
  box-shadow: var(--btn-box-shadow);
}

.modal_inst-info{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--hover-color);
  box-shadow: var(--btn-box-shadow);
  margin-bottom: 10px;
}

.modal_text:not(:last-child){
  margin-bottom: 10px;
}


.table{
  border: 2px solid black;
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 100%;
}

th, td{
  padding: 5px 10px;
  border: 1px solid black;
}

th:nth-of-type(1),td:nth-of-type(1){
  min-width: 150px;
  max-width: 180px;
}

th:nth-of-type(2), td:nth-of-type(2){
  max-width: 50px;
  overflow: hidden;
}

td:nth-of-type(2){
  text-align: center;
  max-width: 40px;
}

td:nth-of-type(3){
  width: 100px;
}

td:nth-of-type(4){
  text-align: center;
  width: 100px;
}


