.protocol-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;;
  grid-gap: 10px;
}

.form {
  padding: 10px 0;
}

.form__fieldset {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 250px 1fr auto;
  grid-gap: 10px;
  align-items: center;

  &.work{
    grid-template-columns: 250px 100px 1fr auto;
  }
}

.form__subtitle{
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--hover-color);
  padding: 10px 0;
  border-radius: 4px;
}

.form__subtitle:not(:first-of-type){
  margin-top: 20px;
}

.form__btns{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.protocol{
  border-collapse: collapse;
  max-height: 500px;
  overflow-y: scroll;
}

.protocol th,
.protocol td{
  border: 1px solid black;
}

.protocol__name{
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.protocol__table,
.protocol__zvt-table{
  border: 2px solid black;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.protocol__th,
.protocol__td,
.protocol__zvt-td,
.protocol__zvt-th{
  padding: 5px 10px;
  height: 28px;
}

.protocol__th:first-child,
.protocol__td:first-child,
{
  text-align: center;
  width: 150px;
  overflow-x: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-width: 150px;
}

.protocol__th:nth-child(2),
.protocol__td:nth-child(2) {
  width: 400px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.protocol__th:nth-child(3),
.protocol__td:nth-child(3){
  width: 100px;
}

.protocol__th:nth-child(4),
.protocol__td:nth-child(4) {
  width: 50px;
}


.protocol__td.longcell:first-child,
.protocol__th.longcell:first-child {
  text-align: left;
  width: 400px;
}

.protocol__td:nth-child(2).longcell,
.protocol__th:nth-child(2).longcell {
  text-align: left;
  width: 100px;
}

.protocol__td:nth-child(3).longcell,
.protocol__th:nth-child(3).longcell {
  width: 50px;
}

.protocol__zvt-text {
  margin-bottom: 5px;
}

.protocol__zvt-td:first-child,
.protocol__zvt-th:first-child {
  width: 180px;
}

.protocol__zvt-td:nth-child(2),
.protocol__zvt-th:nth-child(2) {
  width: 170px;
}

.protocol__zvt-td:nth-child(3),
.protocol__zvt-th:nth-child(3) {
  width: 200px;
}

.protocol__zvt-td:nth-child(4),
.protocol__zvt-th:nth-child(4) {
  width: 100px;
}

.protocol__del-btn,
.protocol__zvt-del-btn {
  width: 50px;
  cursor: pointer;
  border: none !important;
}
