<table class="table">
  <thead>
  <tr class="table__headers">
    <th class="table__header">
      <div class="table__header-container">
        <p class="table__header-title">№ ТI</p>
        <app-ui-button>A-я</app-ui-button>
      </div>
    </th>
    <th class="table__header">
      <div class="table__header-container">
        <p class="table__header-title">Найменування</p>
        <app-ui-button>A-я</app-ui-button>
      </div>
    </th>
    <th class="table__header">
      <div class="table__header-container">
        <p class="table__header-title">Дата затв.</p>
        <app-ui-button>A-я</app-ui-button>
      </div>
    </th>
    <th class="table__header">
      <div class="table__header-container">
        <p class="table__header-title">Розробник</p>
        <app-ui-button>A-я</app-ui-button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    @for (i of instructions; track i.id) {
      <tr class="table__row">
        <td class="table__cell">{{ i.number }}</td>
        <td class="table__cell">{{ i.title }}</td>
        <td class="table__cell">{{ i.date | date }}</td>
        <td class="table__cell">
          <ng-content>{{ i.g_title !== 'null' ? i.g_title : i.d_title }}</ng-content>
        </td>
      </tr>
    }
  </tbody>
</table>
