.table {
  border-collapse: collapse;
  width: 100%;
}

.table__header, .table__cell{
  text-align: left;
  border: 1px solid var(--black);
  padding: 5px;
}

.table__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header:nth-child(1) {
  width: 20%;
}

.table__header:nth-child(2) {
  width: 50%;
}

.table__header:nth-child(3) {
  width: 15%;
}

.table__header:nth-child(4) {
  width: 15%;
}
