.protocols {
  border-collapse: collapse;
  max-height: 500px;
  margin: 0 auto;
  overflow-y: auto;
}

th, td {
  border: 1px solid black;
  padding: 2px 4px;
  height: 28px;
}

.table, {
  border: 2px solid black;
  margin-bottom: 10px;
}

.th:first-child,
.td:first-child,
{
  text-align: center;
  width: 350px;
  overflow-x: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.th:nth-child(2),
.td:nth-child(2) {
  width: 150px;
  text-align: center;
}

.th:nth-child(3),
.td:nth-child(3) {
  width: 100px;
  text-align: center;
}

.th:nth-child(4),
.td:nth-child(4) {
  width: auto;
  text-align: center;
}

.th:nth-child(5),
.td:nth-child(5) {
  width: 120px;
  text-align: center;
}
