.developer{
  margin-bottom: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form__fieldset{
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--hover-color);
  box-shadow: var(--btn-box-shadow);
}

.form__text-input{
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: 4px 8px;
}

.form__textarea{
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: 4px 8px;
  resize: none;
}

.form__textarea.title{
  height: 80px;
}

.form__date{
  background-color: var(--hover-color);
  align-self: flex-start;
}
