.developer{
  margin-bottom: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form__fieldset{
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--hover-color);
  box-shadow: var(--btn-box-shadow);
}


.form__textarea.title{
  height: 80px;
}

.form__date{
  background-color: var(--hover-color);
  align-self: flex-start;
}

.form__protocols{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;

  &.existing{
    grid-template-columns: 1fr auto auto;
  }
}
