.aside {
  padding: 10px 20px;
  height: 100%;
}

.aside__btns {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.aside__item {
  overflow: hidden;
}

.aside__item-wrapper{
  padding: 5px;
}

.aside__item:last-child{
  margin-bottom: 0;
}


.aside__list {
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.aside__list--root {
  max-height: none; /* или очень большой, чтобы раскрыть весь список мастерских */
  overflow: visible;
}

.aside__list--collapsed {
  max-height: 0;
}
