<aside class="aside">
  <ul class="aside__list aside__list--root">
    @for (workshop of asideData; track workshop.id) {
      <li class="aside__item">
        <div class="aside__btns">
          @if (workshop.departments.length) {
            <app-ui-button className="btn-plus" (btnClick)="hideSublist($event)">+</app-ui-button>
            <app-ui-button [workshopId]="workshop.id" (btnClick)="getInstructionByW($event)">{{ workshop.title }}</app-ui-button>
          } @else {
            <app-ui-button style="margin-left: 25px" [workshopId]="workshop.id" (btnClick)="getInstructionByW($event)">{{ workshop.title }}</app-ui-button>
          }
        </div>
        @if (workshop.departments.length) {
          <ul class="aside__list aside__list--collapsed">
            @for (department of workshop.departments; track department.id) {
              <li class="aside__item" style="margin-left: 25px">
                <div class="aside__btns">
                  @if (department.sections.length) {
                    <app-ui-button className="btn-plus" (btnClick)="hideSublist($event)">+</app-ui-button>
                    <app-ui-button [departmentId]="department.id" (btnClick)="getInstructionByD($event)">{{ department.title }}</app-ui-button>
                  } @else {
                    <app-ui-button style="margin-left: 25px" [departmentId]="department.id" (btnClick)="getInstructionByD($event)">{{ department.title }}</app-ui-button>
                  }
                </div>

                @if (department.sections.length) {
                  <ul class="aside__list aside__list--collapsed">
                    @for (section of department.sections; track section.id) {
                      <li class="aside__item">
                        <div class="aside__btns">
                          @if (section.units?.length) {
                            <app-ui-button className="btn-plus" (btnClick)="hideSublist($event)" style="margin-left: 25px">+</app-ui-button>
                            <app-ui-button [sectionId]="section.id" (btnClick)="getInstructionByS($event)">{{ section.title }}</app-ui-button>
                          } @else {
                            <app-ui-button style="margin-left: 25px" [sectionId]="section.id" (btnClick)="getInstructionByS($event)">{{ section.title }}</app-ui-button>
                          }
                        </div>

                        @if (section.units?.length) {
                          <ul class="aside__list aside__list--collapsed">
                            @for (unit of section.units; track unit.id) {
                              <li class="aside__item">
                                <div class="aside__btns">
                                  <app-ui-button style="margin-left: 75px" [unitId]="unit.id" (btnClick)="getInstructionByU($event)">{{ unit.title }}</app-ui-button>
                                </div>
                              </li>
                            }
                          </ul>
                        }
                      </li>
                    }
                  </ul>
                }
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</aside>
