<header class="header">
  <app-add-instruction-modal-component
    [(isAddProtocolModalOpen)]="isAddProtocolModalOpen"
    [(isEditProtocolModalOpen)]="isEditProtocolModalOpen"
    [(protocols)]="protocols"
    [(currentProtocol)]="currentProtocol"
    [(currentProtocolIndex)]="currentProtocolIndex"
    [user]="user()"
  />
  <app-add-protocol-modal-component
    [(isAddProtocolModalOpen)]="isAddProtocolModalOpen"
    [(protocols)]="protocols"/>
  <app-edit-protocol-modal-component
    [(isEditProtocolModalOpen)]="isEditProtocolModalOpen"
    [(protocols)]="protocols"
    [(currentProtocolIndex)]="currentProtocolIndex"
  />
  <app-ui-input (onInput)="showSearchedValue($event)" placeholder="Швидкий пошук інструкції" inputName="search"
                iconClass="icon-search"/>
</header>
