:host {
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  transition-duration: 0.1s;
  box-shadow: var(--btn-box-shadow);
  position: relative;
  width: 400px;
  overflow: hidden;
}

:host:has(.input:focus){
  box-shadow: var(--focused-box-shadow);
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 10px 5px 30px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

input:focus::placeholder {
  color: transparent;
}



input::placeholder {
  color: var(--hover-color);
}
