@use "nullstyle.scss";
@use "icon-font";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --light-color: #fcfcfc;
  --black-color: #000000;
  --dark-color: #141414;
  --hover-color: #dcdcdc;
  --active-color: #bcbcbc;
  --modal-bg-color: rgba(220, 220, 220, 0.5);
  --modal-box-shadow: var(--black-color) 4px 4px 20px;
  --btn-box-shadow: var(--black-color) 1px 1px 2px;
  --focused-box-shadow: var(--black-color) 4px 4px 10px;
}

body {
  color: var(--dark-color);
  font-family: "Roboto", sans-serif;
}


.form__text-input{
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: 4px 8px;
}

.form__textarea{
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  padding: 4px 8px;
  resize: none;
}
